<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SCMCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="HtmlViewerEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SCMCS.Properties.Settings>
            <setting name="CorDeFundo" serializeAs="String">
                <value />
            </setting>
            <setting name="CorDoTexto" serializeAs="String">
                <value />
            </setting>
            <setting name="DistSplitter" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UltimoDiretorio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SizeWindow" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CorJanela" serializeAs="String">
                <value />
            </setting>
        </SCMCS.Properties.Settings>
        <HtmlViewerEditor.Properties.Settings>
            <setting name="CorDeFundo" serializeAs="String">
                <value/>
            </setting>
            <setting name="CorDoTexto" serializeAs="String">
                <value/>
            </setting>
            <setting name="m" serializeAs="String">
                <value/>
            </setting>
        </HtmlViewerEditor.Properties.Settings>
    </userSettings>
</configuration>
